.container {
    display: flex;
    align-items: center;
    min-height: 3rem;
    position: relative;
    border: 2px solid #86A8CF;
    border-radius: .25rem;
    padding: 0 1rem;
}

.container:has(.input:focus) {
    border-color: #86A8CF;
}

.container.medium{
    width: 100%;
}

.container.large{
    width: 100%;
}

.input {
    width: 100%;
    height: 100%;
    min-height: 3rem;
    outline: none;
    font-size: 1rem;
    border: none;
    background: #121212;
    color: #fff;
    transition: .3s ease-in-out;
}

.input::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #86A8CF;
    pointer-events: none;
    font-size: 1rem;
    background: #121212;
    padding: 0 .25rem;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.input:focus + .label {
    top: 0;
    font-size: .8rem;
    color: #86A8CF;
}

.input:focus {
    border-color: #86A8CF;
}

.input:not(:focus):not(:placeholder-shown) + label {
    top: 0;
    font-size: .8rem;
}

.hide-password{
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0 .5rem;
    color: #86A8CF;
    transition: .3s ease-in-out;
}

::-ms-reveal {
    display: none;
}

@media (max-width: 768px) {
    .container.medium{
        width: 100%;
    }
}